.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #353535;
}

.header__logo{
    padding: 20px;
    color: white;
}

.header__icon{
    text-decoration: none;
    color: inherit;
}